*{
	margin:0px;
	padding:0px;
}
:root{
	background-color:#C0C0C0;
}
body{
	overflow:auto;
}
#loginScreen{
	position:absolute;
	height:100%;
	width:100%;
	margin:0px;
}
#loginHeader{
	margin-left:5px;
}
#userSelect{
	margin:10px 0 0 5px;
}
#btnLogin{
	border-radius:0px;
	padding:5px 20px;
	margin-top:10px;
	margin-left:5px;
	color:#FFFFFF;
	background-color:#000000;
}