<section class="home-main">
	<section class="home-image">
		<img class="home-image-actual" src="images/varun-pic.jpg" alt="Varun">
	</section>
	<section class="home-details">
		<div class="home-details-links">
			<div class="home-details-dataScience" ng-click="gotodataScience()"><span class="home-detials-position">Data Science</span></div>
			<div class="home-details-ui" ng-click="gotoui()"><span class="home-detials-position">User Interfaction</span></div>
			<div class="home-details-education" ng-click="gotoeducation()"><span class="home-detials-position">Education</span></div>
		</div>
		<div class="home-details-description">Hey there!!! Welcome to my website. Lets talk more about Data Science and User Interaction.
		Check out some of my blogs!!!
		</div>
	</section>
	<section class="clear"></section>
</section>