//For Font
*{
	font-family: sans-serif;
}
:root{
	background-color: $color-dark-background;
}
.clear{
	clear:both;
}

//For scrollbar
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background: $color-footer;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

//Page Header
.main-header{
	background-color: $color-dark-background;
	padding:50px 300px 30px 300px;
	.header-nameQoute{
		margin-right:50px;
		float:left;
		width:265px;
		height:82px;
		.header-name{
			color:$color-bright;
			font-size:20px;
			font-weight: bold;
		}
		.header-qoute{
			padding-top:10px;
			color:$color-bright;
			font-size: 15px;
		}
	}
	.header-navbar{
		float:left;
		padding-top: 30px;
		a{
			font-size: 15px;
			color:$color-bright;
			margin-right: 30px;
		}
	}
}

//Page Footer
.main-footer{
	height:200px;
	padding-top: 50px;
	background-color:$color-footer;
	.footer-outer{
		margin-left: 250px;
		div{
			margin-right: 20px;
			color:$color-bright;
			float:left;
			width:200px;
			height:150px;
			font-size:20px;
			span{
				margin-right:10px;
			}
		}
	}
}