//For Font
*{
	font-family: sans-serif;
}
:root{
	background-color: $color-dark-background;
}
.clear{
	clear:both;
}

//For glyphicons
.glyphicon{
	padding-right: 5px;
}

//For scrollbar
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background: $color-footer;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

//Page Header
.main-header{
	background-color: $color-dark-background;
	padding:50px 300px 30px 253px;
	.header-nameQoute{
		margin-right:50px;
		float:left;
		width:327px;
		height:82px;
		.header-name{
			font: normal normal bold 43px/1.2em 'Noticia Text',serif;
			color:#4D4D4D;
		}
		.header-qoute{
			padding-top:10px;
			color:#4D4D4D;
			font-size: 25px;
		}
	}
	.header-navbar{
		float:left;
		margin-left: 70px;
		padding-top: 30px;
		a{
			text-decoration: none;
			font-size: 18px;
			color:$color-bright;
			margin-right: 30px;
		}
	}
}

//Page Footer
.main-footer{
	height:300px;
	padding-top: 50px;
	background-color:$color-footer;
	.footer-outer{
		margin-left: 385px;
		div{
			margin-right: 20px;
			color:$color-bright;
			float:left;
			width:200px;
			font-size:20px;
			span{
				margin-right:10px;
			}
		}
		.footer-follow-main{
			i{
				font-size: 23px;
				padding-right: 10px;
			}
		}
		.footer-follow-social,.footer-call-number,.footer-mail-id{
			padding-top:20px;
			i{
				font-size: 35px;
				padding-right: 25px;
			}
		}
	}
	.footer-copyright{
		.footer-copyright-name{
			margin:0 320px;
			margin-bottom: 30px;
		}
		.footer-copyright-description{
			margin:0 127px;
			font-size: 14px;
		}
		margin:0 200px;
		margin-top: 30px;
		color: #8B8B8B;
	}
}