.modal{
	background: rgba(224, 224, 224, 0.8);
	.modal-dialog{
		width:400px;
	}
	.modal-header{
		background-color: $color-dull-background;
		border-radius:4px;
		margin:5px 5px 0px 5px;
		font-weight:bold;
		font-size:20px;
		padding:10px;
		margin-left: 5px;
	}
	#txtNoOfTrades{
		border-color:orange;
	}
	.modal-body{
		margin-top: 10px;
		padding:0px 0px 10px 20px;
		font-size:15px;
	}
	.modal-footer{
		height:50px;
		padding:0px;
		margin:0px 20px 0px 0px;
	}
	#createBtn{
		background-color:$color-dull-background;
		margin-top:10px;
		padding:0px 5px;
		width:80px;
	}
	#cancelBtn{
		background-color:$color-dull-background;
		border-color:$color-dull-background;
		color: #000000;
		margin-top:10px;
		padding:0px 5px;
		width:80px;
	}
}