<section id="dashBoard">
<section id="userMenu">
	<div id="menuHeading">Trader Desktop</div>
	<div id="userSignOutDiv">
		<div id="userNameDiv">{{userName}}</div>
		<a id="signOutDiv" href="/#/">Sign Out</a>
	</div>
	
</section>
<hr id="horizontalLine">
<section id="mainMenu">	<!-- This Section is for Showing the Main Menu Containing Trade,Delete and Refresh along with the icons-->
	<input type="button" value="Trade" id="tradeBtn" data-template="dashboard/model.tmpl.html" class="btn btn-lg btn-danger mainMenuBtn" bs-modal="modal" data-animation="am-fade-and-slide-top" ng-cilck = "tradeBtnClick()">
	<input type="button" value="Delete All" id="deleteBtn" class="mainMenuBtn" ng-click="deleteAllOrders()">
	<input type="button" value="Refresh" id="refreshBtn" class="mainMenuBtn" ng-click="renderOrders()">
	<span class="errorMsg" ng-model="span" ng-show="span">Enter a valid value</span>
	<section id="chartViewIcon" ng-class="{iconTableBackground: toggleView}" ng-click="toggleViewToChart()"><img id="icon2" src="../assets/{{toggleView ? 'chart.png': 'chartblack.png'}}"></section>
	<section id="tableViewIcon" ng-class="{iconChartBackground: !toggleView}" ng-click="toggleViewToTable()"><img id="icon1" src="../assets/{{!toggleView ? 'table.png': 'tableblack.png'}}"></section>
</section>
<table id="detailsTable" ng-show="toggleView">	<!-- This Section is for Showing all the orders in a Table Format -->
	<tr id="tableHeader">
		<th class="tableHeaders">id</th>
		<th class="tableHeaders hideSecond">Creation Time</th>
		<th class="tableHeaders">Side</th>
		<th class="tableHeaders">Symbol</th>
		<th class="tableHeaders">Quantity</th>
		<th class="tableHeaders hideSecond">Placed</th>
		<th class="tableHeaders hideSecond">Executed</th>
		<th class="tableHeaders">Limit Price</th>
		<th class="tableHeaders hideFirst">Priority</th>
		<th class="tableHeaders hideSecond">Status</th>
		<th class="tableHeaders hideFirst">Trader</th>
	</tr>
	<tr id="detailsRow" ng-repeat="order in orders">
		<td >{{order.id}}</td>
		<td class="hideSecond">{{order.creationTime | date:medium}}</td>
		<td >{{order.side}}</td>
		<td >{{order.symbol}}</td>
		<td >{{order.quantity}}</td>
		<td class="hideSecond">{{order.quantityPlaced}}</td>
		<td class="hideSecond">{{order.quantityExecuted}}</td>
		<td >{{order.limitPrice | currency}}</td>
		<td class="hideFirst">{{order.priority}}</td>
		<td class="hideSecond">{{order.status}}</td>
		<td class="hideFirst">{{order.traderId}}</td>
	</tr>
</table>
<section id="detailsChart" ng-show="!toggleView">	
	<!-- This section is for creating the exact chart layout using D3 -->
</section>
</section>