//For Resume Page
.resume-all{
	padding:50px 200px;
	background-color: #eae5e5;
}
.resume-title{
	font-family:'Noticia Text', serif;
	font-size: 32px;
	padding-left:340px;
	padding-bottom: 25px;
}

//Common text tile circle styling
.resume-sub-title{
	float:left;
	margin-bottom: 20px;
	margin-right: 60px;
	border-radius: 50%;
	width:200px;
	height: 200px;
	background-color: rgba(232, 53, 86, 1);
	span{
		font-size: 15px;
		font-weight: bold;
		position: relative;
		color: $color-dark-background;
	}
	.resume-objective-text{
		top:90px;
		left:50px;
	}
	.resume-work-text{
		top:90px;
		left:35px;
	}
	.resume-academics-text{
		top:90px;
		left:54px;
	}
	.resume-inplant-text{
		top:90px;
		left:27px;
	}
	.resume-project-text{
		top:90px;
		left:11px;
	}
	.resume-softwares-text{
		top:83px;
		left:20px;
	}
	.resume-extra-text{
		top:90px;
		left:20px;
	}
}

//Styling for each section
.resume-main > section{
	height:215px;
	width:1000px;
	border-bottom:1px solid rgba(139, 139, 139, 1);
}
.resume-main{
	padding-top: 20px;
	.resume-objective-main{
		float:left;
		width: 600px;
		height:100px;
		padding-top:7%;
		font-size: 18px;
	}
}//End of main Section

.resume-work{
	span{
		top:30px;
	}
	height: 600px !important;
	.resume-work-sub{
		border-radius: 50%;
		height: 150px;
		width:150px;
		margin-bottom:20px;
		background-color: rgba(97, 208, 212, 1);
		margin-right: 20px;
		span{
			position: relative;
			top: 40%;
			left:10%;
			color: $color-dark-background;
		}
	}
	.resume-work-main{
		float:left;
		width: 600px;
		height:100px;
		padding-top:24px;
		font-size: 15px;
		.resume-work-role{
			font-weight: bold;
			padding-bottom: 30px;
			font-size: 20px;
		}
		.resume-work-training{
			width:700px;
			div{
				float:left;
			}
			.resume-work-subs{
				div{
					padding-top: 5%;
					padding-bottom: 2%;
				}
			}
		}
		.resume-work-project{
			width:700px;
			div{
				float:left;
			}
			.resume-work-subs{
				div{
					padding-top: 8%;
					padding-bottom: 5%;
				}
			}
		}
	}
} //End of work Section

//Academics Section
.resume-academics{
	padding-top: 10px;
	table{
		td{
			width: 160px;
			padding: 2%;
		}
		.heading{
			font-weight: bold;
		}
	}
}

//Inplant Section
.resume-inplant-main{
	padding-top: 7%;
}

//Projects Section
.resume-projects-main,.resume-softwares-main,.resume-extra-main{
	padding-top: 7%;
	div{
		font-size: 15px;
		padding-bottom: 3%;
	}
}

.resume-extra-curricular{
	height:440px !important;
	.resume-sub-title{
		margin-bottom: 220px;
	}
}